<h1>About Me</h1>

<hr>
<p>
I graduated the University of Memphis with a Bachelors degree in Management Information Systems, in May of 2015. While obtaining that degree I developed skills in project management, analytical tools, SQL, and many other diverse abilities. While I was in college I started a small business where I used what I learned to develop a forecast methodology that based my previous inventory data and showed when was the best time to order product to minimize over/under spending during certain seasons.
</p>

<p>
I started my career as an IT intern with Regional One Health, which is a major trauma hospital in the Memphis area. As an IT intern I floated around to various teams within the IT department, I worked mostly under the security team and the desktop team. I then was hired full time as a Desktop Support Tech where I troubleshot majority of the hospitals applications, helped implement the McAfee antivirus software throughout our environment, was the system administrator for the Vocera system, and many other various tasks and duties. During my time as a Desktop tech I gained a solid foundation of time management, troubleshooting, and implementation in a 24 hour fast pace environment.
</p>

<p>
I currently work as a Business Application Analyst at Regional One Health, where I am directly over our Supply Chain and Financial application, which is McKesson. I’m responsible for all the upgrades, hotfixes, user service orders, and projects that affect either of the applications.  I also use SQL to run various reports to find outliers that affects the company financially.   
</p>
