<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Phone Number</h3>
    <p><%= number_to_phone "9018304494" %></p>

    <h3>Office Address</h3>
    <p>6554 Earhart dr, Bartlett, TN 38134</p>

    <h3>Email</h3>
    <p><a href="mailto:belalkamara@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
  </div>

  <div class="col-md-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.6747795515!2d-89.84700428471827!3d35.21456898030563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887f9d561ee2ecd5%3A0x6cb1827ca4b28b4f!2s6554+S+Earhart+Dr%2C+Bartlett%2C+TN+38134!5e0!3m2!1sen!2sus!4v1508979317227" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>