<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Information Technology is forever evolving and growing and so must I to ensure my skills are well suited for the culture. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
