<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Technology is forever evolving and so must I to ensure my skills are sharp and well-suited for the environment. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
